In [1]:
# begin by importing dependencies and Google API key and add cities.csv file to a df


# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# gmaps and API key will be used to create heat maps and locagtions map 
# requests dependency to make a request to the Google Places JSON file 
# this allows us to get hotel locations from the lat and lon of the city 


# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Korla,CN,2022-07-28 23:40:43,41.7597,86.1469,87.39,23,100,16.78
1,1,Minas,UY,2022-07-28 23:40:44,-34.3759,-55.2377,49.05,72,98,17.40
2,2,Yakeshi,CN,2022-07-28 23:40:44,49.2833,120.7333,68.27,74,86,2.24
3,3,Albany,US,2022-07-28 23:40:29,42.6001,-73.9662,81.34,68,74,3.00
4,4,Severo-Kurilsk,RU,2022-07-28 23:38:59,50.6789,156.1250,55.45,87,86,9.04

In [3]:
# gmaps -> the data has to be either an integer or a floating-point decimal number 


# get the data types 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [18]:
# Creating the heat map for maximum temp 
# adding locations and the valyes from the maximum temp from our city_data_df

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# InvalidWeightException Error: Gmaps doesn't plot negative numbers
# if you have maximum temp that is less than 0 degrees F, you'll get this error

# Use for loop to iterate through max_temp in order to remove the negative temp

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# Adjust Heatmap Zoom, Intensity and Point Radius 
# Using the same template above, we are adding a center and zoom level 

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# # Adding a center and zoom level to gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# there is a dissipation option for creating heatmaps 
# modifying the "heat_layer" code 
# default for dissipation is "True", so we need to set it as "False"
# max_intensity being added to make each measurement have a better gradient 
# add point_radius to make each radius larger


# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# # Adding a center and zoom level to gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                 max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Create a % Humidity Heatmap 

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Create a % Cloudiness Heatmap 

# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Create a Windspeed Heatmap 

# Heatmap of wind speed mph
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# writing two statements for the app that will prompt the customer to add minimum and maximum 
# temp values and convert these values to floating-point decimals 


# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [36]:
# Next, we will filter the maximum temp comuln in the city_data_df logical operators 
# to create a new DF with the cities that meet the customer's criteria 
# using the loc[] method to create a new DF

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Albany,US,2022-07-28 23:40:29,42.6001,-73.9662,81.34,68,74,3.00
11,11,Hithadhoo,MV,2022-07-28 23:40:49,-0.6000,73.0833,81.79,74,95,13.51
18,18,Capoterra,IT,2022-07-28 23:40:52,39.1763,8.9718,78.53,71,0,6.91
27,27,Salinopolis,BR,2022-07-28 23:37:03,-0.6136,-47.3561,79.30,80,49,10.63
29,29,Poso,ID,2022-07-28 23:40:58,-1.3959,120.7524,80.76,74,60,5.55
33,33,Butaritari,KI,2022-07-28 23:41:00,3.0707,172.7902,81.86,72,57,15.75
37,37,Atuona,PF,2022-07-28 23:41:02,-9.8000,-139.0333,76.35,79,34,23.94
39,39,Tautira,PF,2022-07-28 23:41:03,-17.7333,-149.1500,77.25,78,23,22.15
42,42,Yamada,JP,2022-07-28 23:41:04,39.4667,141.9500,78.84,79,29,4.47
43,43,Bethel,US,2022-07-28 23:41:05,41.3712,-73.4140,84.29,74,20,13.80

In [37]:
# looking for null values 
# preferred_cities_df.isnull().sum() OR the one below 
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [38]:
# adjusted the max temp to keep the amount of cities below 200 (it was 209 before)

In [39]:
# Not adding hotel info to the preferred cities df bc this df is our filtered data frame and customer will always filter it for our trip
# Need to create a new df for the data needed to create a heatmap and pop-up markers


# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# Adding a new column to the df to hold the name of the hotel 
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
3        Albany      US     81.34  42.6001  -73.9662
11    Hithadhoo      MV     81.79  -0.6000   73.0833
18    Capoterra      IT     78.53  39.1763    8.9718
27  Salinopolis      BR     79.30  -0.6136  -47.3561
29         Poso      ID     80.76  -1.3959  120.7524
33   Butaritari      KI     81.86   3.0707  172.7902
37       Atuona      PF     76.35  -9.8000 -139.0333
39      Tautira      PF     77.25 -17.7333 -149.1500
42       Yamada      JP     78.84  39.4667  141.9500
43       Bethel      US     84.29  41.3712  -73.4140

In [40]:
# Retrieve Hotels from a Nearby Search 
# For our hotel search, we'll use these parameters:
# 1. API key
# 2. Latitude and longitude
# 3. 5,000-meter radius
# 4. Type of place

In [41]:
# add the parameters as key-value pairs. Add the params dictionary, 
# API key, type, and radius parameters with the following values

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [45]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    
    
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [46]:
# modifying the last piece of the code above with a try-except block to handle the Index Error

# Grab the first hotel from the results and store the name.
  #try:
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
  #except (IndexError):
    #print("Hotel not found... skipping.")

In [47]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    
    # Grab the first hotel from the results and store the name.
    # modified this portion
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [49]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Albany,US,81.34,42.6001,-73.9662,
11,Hithadhoo,MV,81.79,-0.6000,73.0833,Scoop Guest House
18,Capoterra,IT,78.53,39.1763,8.9718,Ariedo Bed And Breakfast
27,Salinopolis,BR,79.30,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
29,Poso,ID,80.76,-1.3959,120.7524,Hotel 77 Poso
...,...,...,...,...,...,...
544,Hurghada,EG,84.24,27.2574,33.8129,Sea Star Beau Rivage Hotel
545,Boffa,GN,76.50,10.1667,-14.0333,Hôtel Niara Belly
550,Alvaraes,BR,78.06,-3.2208,-64.8042,Av. Castelo Branco. Ginásio Ermelino vieira.
556,Nantucket,US,78.91,41.2835,-70.0995,Jared Coffin House
560,Tarauaca,BR,77.92,-8.1614,-70.7656,Flat Temporada

In [50]:
# create a heatmap using the maximum temperature from our 
# hotel_df DataFrame by reusing the code and changing the DataFrame name

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Adding markers
# markers = gmaps.marker_layer(marker_locations), 
# where the marker_locations are latitudes and longitudes

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Now we can add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
# we need to add an info_box_template

# variable is assigned to a multiline string using three quotes
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>)
# Angular brackets always come in pairs. The opening angular bracket is followed by some text inside, such as dl, dt, and dd
# The closing angular bracket is preceded by a forward-slash ("/"). The text inside with the angular brackets is called a tag

info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [53]:
# The <dl> tag is a description list (dl).
# The <dt> tag is a term or name in a description list that is nested under the <dl> tag.
# The <dd> tag is used to define the term or name or <dt> tag.

In [54]:
# For our purposes, we'll add the hotel name, city name, 
# country code, and the maximum temperature values from the hotel_df DataFrame as the description definition.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [55]:
# Next, add the data to the code by iterating through the hotel_df DataFrame using the iterrows() function.
# add the information to the gmaps.marker_layer() attribute with the locations.

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [56]:
# create the heatmap with markers, add info_box_content=hotel_info to the gmaps.marker_layer() attribute with the locations

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))