## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/weatherpy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
0,1,Wanning,CN,2022-08-01 00:04:57,18.8003,110.3967,83.12,78,6,3.53,Paradise Hotel
1,3,Atuona,PF,2022-08-01 00:04:58,-9.8000,-139.0333,76.89,74,12,13.69,Villa Enata
2,6,Meulaboh,ID,2022-08-01 00:00:04,4.1363,96.1285,76.69,87,97,4.27,Kost Pria
3,8,Butaritari,KI,2022-08-01 00:05:00,3.0707,172.7902,81.41,78,62,13.53,Isles Sunset Lodge
4,15,Makat,KZ,2022-08-01 00:05:04,47.6469,53.3463,80.78,36,90,7.87,Umit

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Griffith']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Griffith']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Bud']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Hamilton'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Ingham'] 
vacation_stop3

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
97,342,Ingham,US,2022-08-01 00:14:39,42.6,-84.3833,80.55,58,0,0.0,Sunset Mobile Home Park

In [24]:
vacation_stop3

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
97,342,Ingham,US,2022-08-01 00:14:39,42.6,-84.3833,80.55,58,0,0.0,Sunset Mobile Home Park

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([-87.4237, 83.25], dtype=object)

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(38, -122), zoom_level = 7)
griffith = (41.5, -87.4)
bud = (39.4, -86.2)
hamilton = (39.2, -84.5)
ingham = (42.6, -84.4) 
roadtrip = gmaps.directions_layer(griffith, griffith, 
                                  waypoints=[bud, hamilton, ingham],
                                  travel_mode="DRIVING")
fig.add_layer(roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
0,334,Griffith,US,2022-08-01 00:14:35,41.5284,-87.4237,83.25,60,0,9.22,Apartment above Depot Bar
1,199,Bud,US,2022-08-01 00:10:30,39.4470,-86.1758,80.91,67,7,1.23,Ted McQuinn Trust
2,369,Hamilton,US,2022-08-01 00:14:58,39.1834,-84.5333,77.52,78,0,6.91,Six Acres Bed & Breakfast
3,342,Ingham,US,2022-08-01 00:14:39,42.6000,-84.3833,80.55,58,0,0.00,Sunset Mobile Home Park

In [27]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))